<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>

<table border="0">
    <tr>
        <td>
                <form method="post" action="up_source" enctype="multipart/form-data">
                <input type="file" size="30" name="photo"/>
                <input type="submit" class="button-new" style="margin-top:15px;"/>
                </form>
                <img src="{{ url_for('static', filename='source.png')}}"  alt="test"/>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td>
                <form method="post" action="up_style" enctype="multipart/form-data">
                <input type="file" size="30" name="photo"/>
                <input type="submit" class="button-new" style="margin-top:15px;"/>
                </form>
                <img src="{{ url_for('static', filename='style.png')}}"  alt="test"/>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>
        <form action="process">
            <input type="submit" value="Start!" />
        </form>
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><img src="{{ url_for('static', filename='target-1.png')}}"  alt="test"/></td>
        <td><img src="{{ url_for('static', filename='target-2.png')}}"  alt="test"/></td>
        <td><img src="{{ url_for('static', filename='target-3.png')}}"  alt="test"/></td>
        <td><img src="{{ url_for('static', filename='target-4.png')}}"  alt="test"/></td>
        <td><img src="{{ url_for('static', filename='target-5.png')}}"  alt="test"/></td>
    </tr>
</table>

</body>
</html>
